In [1]:
import time
import pandas as pd
import numpy as np


CITY_DATA = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv' }

In [2]:
def get_filters():
    """
    Asks user to specify a city, month, and day to analyze.

    Returns:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    """
    print('Hello! Let\'s explore some US bikeshare data!')
    # TO DO: get user input for city (chicago, new york city, washington). HINT: Use a while loop to handle invalid inputs
    city = input('Please Enter the Name of the city')
    
    city = city.lower()
    
    while city not in CITY_DATA:
        
        city = input('Enter a vaild city name')
        city = city.lower()

    # TO DO: get user input for month (all, january, february, ... , june)
    months = ['all', 'january', 'february', 'march', 'april', 'may', 'june']
    month = input('Please Enter the Month name')
    
    month= month.lower()
    
    while month not in months:
        month = input('Enter a vaild month name')
        month = month.lower()

    # TO DO: get user input for day of week (all, monday, tuesday, ... sunday)
    
    days = ['all', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sundasy']
    day = input('Please Enter the day')
    
    day = day.lower()
    
    while day not in days:
        day = input('Enter a vaild day name')
        day = day.lower()

    print('-'*40)
    return city, month, day

In [3]:
get_filters()

Hello! Let's explore some US bikeshare data!
Please Enter the Name of the citychicago
Please Enter the Month namemarch
Please Enter the daymonday
----------------------------------------

('chicago', 'march', 'monday')

In [4]:
def load_data(city, month = 'all', day = 'all'):
    """
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - Pandas DataFrame containing city data filtered by month and day
    """
    df = pd.read_csv(CITY_DATA[city])
    
    return df

In [12]:
df = load_data('chicago')
df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0

Please create a new function for this, for example called display_data. You need to ask the user whether he wants to see 5 rows of data. We will show all parts of analysis then we will ask this question: Do you want to see 5 rows of data. But it is not only the first 5 data but as much as the user wants. For example, you asked the user like this in the first step: "Do you want to see the first 5 rows of data?". He typed yes and you will show the first 5 rows ,then you ask again " Do you want to see the next 5 rows of data?" then he says yes and you show the next 5 data. You need to keep asking until he says no.

In [13]:
def display_data(df):
    """
    Display the needed number of rows for the Loads data for the specified city
    
    Returns:
        df - Pandas DataFrame with needed number of rows
    """
    
    while True:
        
        
        #Ask the user if they would like to see the raw data
        user_input = input('Would you like to see another 5 rows of the data? (Please Enter Yes or No).\n')
        
        while user_input.lower() not in ['yes','no']:
            user_input = input('Please Enter Yes or No:\n')
            user_input = user_input.lower()
        n = 0        
        while True :
            if user_input.lower() == 'yes':
        
                print(df.iloc[n : n + 5])
                n += 5
                user_input = input('\nWould you like to see more data? (Type:Yes/No).\n')
                while user_input.lower() not in ['yes','no']:
                    user_input = input('Please Enter Yes or No:\n')
                    user_input = user_input.lower()
            else:
                break
        print('Thanks See you later')
        
        break

In [14]:
display_data(df)

Would you like to see another 5 rows of the data? (Please Enter Yes or No).
yes
   Unnamed: 0           Start Time             End Time  Trip Duration  \
0     1423854  2017-06-23 15:09:32  2017-06-23 15:14:53            321
1      955915  2017-05-25 18:19:03  2017-05-25 18:45:53           1610
2        9031  2017-01-04 08:27:49  2017-01-04 08:34:45            416
3      304487  2017-03-06 13:49:38  2017-03-06 13:55:28            350
4       45207  2017-01-17 14:53:07  2017-01-17 15:02:01            534

                   Start Station                   End Station   User Type  \
0           Wood St & Hubbard St       Damen Ave & Chicago Ave  Subscriber
1            Theater on the Lake  Sheffield Ave & Waveland Ave  Subscriber
2             May St & Taylor St           Wood St & Taylor St  Subscriber
3  Christiana Ave & Lawrence Ave  St. Louis Ave & Balmoral Ave  Subscriber
4         Clark St & Randolph St  Desplaines St & Jackson Blvd  Subscriber

   Gender  Birth Year
0    Male      1992.0
1  Female      1992.0
2    Male      1981.0
3    Male      1986.0
4    Male      1975.0

Would you like to see more data? (Type:Yes/No).
yes
   Unnamed: 0           Start Time             End Time  Trip Duration  \
5     1473887  2017-06-26 09:01:20  2017-06-26 09:11:06            586
6      961916  2017-05-26 09:41:44  2017-05-26 09:46:25            281
7       65924  2017-01-21 14:28:38  2017-01-21 14:40:41            723
8      606841  2017-04-20 16:08:51  2017-04-20 16:20:20            689
9      135470  2017-02-06 18:00:47  2017-02-06 18:09:00            493

                  Start Station                    End Station   User Type  \
5  Clinton St & Washington Blvd           Canal St & Taylor St  Subscriber
6         Ashland Ave & Lake St           Wood St & Hubbard St  Subscriber
7    Larrabee St & Kingsbury St     Larrabee St & Armitage Ave    Customer
8        Sedgwick St & Huron St  Halsted St & Blackhawk St (*)  Subscriber
9  Stetson Ave & South Water St   Clinton St & Washington Blvd  Subscriber

   Gender  Birth Year
5    Male      1990.0
6  Female      1983.0
7     NaN         NaN
8    Male      1984.0
9    Male      1979.0

Would you like to see more data? (Type:Yes/No).
no
Thanks See you later

In [14]:
def time_stats(df):
    """Displays statistics on the most frequent times of travel."""

    print('\nCalculating The Most Frequent Times of Travel...\n')
    start_time = time.time()
    
    
    # convert the Start Time column to datetime
    df['Start Time'] = pd.to_datetime(df['Start Time'])
    
    # TO DO: display the most common month
    df['month'] = df['Start Time'].dt.month
    popular_month = df['month'].mode()[0]
    
    print('The most popular travel month is {}'.format(popular_month))

    
    # TO DO: display the most common day of week
    df['day_of_week'] = df['Start Time'].dt.weekday_name
    popular_dow = df['day_of_week'].mode()[0]
    print('The most popular travel day in the week is {}'.format(popular_dow))


    # TO DO: display the most common start hour
    df['hour'] = df['Start Time'].dt.hour
    popular_hour = df['hour'].mode()[0]
    print('The most popular travel hour is {}'.format(popular_hour))

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

In [20]:
def station_stats(df):
    """Displays statistics on the most popular stations and trip."""

    print('\nCalculating The Most Popular Stations and Trip...\n')
    start_time = time.time()

    # TO DO: display most commonly used start station
    start_station = df['Start Station'].mode()[0]
    print('The most popular start station is {}'.format(start_station))

    # TO DO: display most commonly used end station
    End_station = df['End Station'].mode()[0]
    print('The most popular end station is {}'.format(End_station))

    # TO DO: display most frequent combination of start station and end station trip
    Frequent_combination = df.groupby(['Start Station','End Station']).size().idxmax()
    print('The most popular combination between start station and end station is {}'.format(Frequent_combination))


    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

In [ ]:
def trip_duration_stats(df):
    """Displays statistics on the total and average trip duration."""

    print('\nCalculating Trip Duration...\n')
    start_time = time.time()

    # TO DO: display total travel time
    total_time = np.sum(df['Trip Duration'])
    print('The total travel time is {}'.format(total_time))
    
    # TO DO: display mean travel time
    mean_time = np.mean(df['Trip Duration'])
    print('The mean travel time is {}'.format(mean_time))
    
    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

In [ ]:
def user_stats(df):
    """Displays statistics on bikeshare users."""

    print('\nCalculating User Stats...\n')
    start_time = time.time()

    # TO DO: Display counts of user types
    user_types = df['User Type'].value_counts()
    print('The counts of user types is {}'.format(user_types))


    # TO DO: Display counts of gender
    gender_count = df['Gender'].value_counts()
    print('The counts of user gender is {}'.format(gender_count))

    # TO DO: Display earliest, most recent, and most common year of birth
    earliest_year = df['Birth Year'].min()
    recent_year = df['Birth Year'].max()
    common_year = df['Birth Year'].mode()[0]
    
    print('The earliest year of birth is {}'.format(earliest_year))
    print('The most recent year of birth is {}'.format(recent_year))
    print('The most common year of birth is {}'.format(common_year))

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

In [ ]:
def main():
    while True:
        city, month, day = get_filters()
        df = load_data(city, month, day)

        time_stats(df)
        station_stats(df)
        trip_duration_stats(df)
        user_stats(df)

        restart = input('\nWould you like to restart? Enter yes or no.\n')
        if restart.lower() != 'yes':
            break


if __name__ == "__main__":
	main()